<% provide(:title, "Log in") %>
<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: login_path, scope: :session) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :メールアドレス, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :パスワード, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>ログイン情報を保存する</span>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "アカウント作成", signup_path %></p>
  </div>
</div>