<li>
  <% if user.avatar.present? %>
    <%= image_tag asset_path(user.avatar.url), size: 60 %> <!-- ユーザープロフィール画像 -->
  <% else %>
    <%= image_tag asset_path("8d27ad3552fd86901f4976429ad22ce2.png"), size: 60 %> <!-- プロフィール画像未設定時のデフォルト画像 -->
  <% end %>
  <%= link_to user.name, user %>

  <%= user.age %>歳 <%= user.live %>

  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, data: { "turbo-method": :delete,
                                          turbo_confirm: "実行しますか?" } %>
  <% end %>
</li>