<% provide(:title, 'Sign up') %>
<h1>新規登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :ニックネーム %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :パスワード確認用%>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :性別 %>
      <%= f.select :gender, {'男性': '男', '女性': '女'}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>

      <%= f.label :誕生日 %>
      <%= f.date_field :birthday %>

      <%= f.label :プロフィール画像 %>
      <%= f.file_field :avatar %>

      <%= f.label :自己紹介%>
      <%= f.text_area :profile, autocomplete: 'off', :size =>"50x10" %>

      <%= f.submit "登録", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>