<% provide(:title, @user.name) %>
<div class="row" style="margin: 0 auto;">
  <aside class="col-md-4" style="width:100%;">
    <section class="user_info">
      <h1>
        <% if @user && @user.avatar.attached? %>
          <%= image_tag @user.avatar, size: "300x360" %> <!-- ユーザープロフィール画像 -->
        <% else %>
          <%= image_tag "8d27ad3552fd86901f4976429ad22ce2.png", size: "300x270", style: "border-radius: 6px;" %> <!-- プロフィール画像未設定時のデフォルト画像 -->
        <% end %>
      </h1>
      <h1>
        <%= @user.name%>

        <% if current_user.active_likes?(@user) && @user.active_likes?(current_user) %>  <!--マッチしたユーザー-->
          <%= link_to 'メッセージ', chat_path(@user.id), class: "ml-3", style: "font-size: 0.5em;" %>
        <% end %>
      </h1>

      <p><%= @user.live %>
      <%= @user.age %>歳</p>
      
      <div class="intro-box" style="margin: 8px auto;">
        <p><strong>〜自己紹介〜</strong><br>
          <%= @user.profile %>
        </p>
      </div>

      <!-- like buttun -->
      <%= render 'do_like_form' if logged_in?%>
      <!--h1><% if @user != current_user %>
            <%= link_to "いいね！", likes_path({user_id:@user.id,reaction: "like"}), data: { "turbo-method": :post} %>
          <% end %>
      </h1-->
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </section>
  </aside>
</div>
