<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if @user && @user.avatar.present? %>
          <%= image_tag @user.avatar.url %>
        <% else %>
          <%= image_tag "8d27ad3552fd86901f4976429ad22ce2.png" %>
        <% end %>

      </h1>
      <p><%= @user.live %>
      <%= @user.age %>歳</p>
      <p>自己紹介</p>
      <p><%= @user.profile %></p>
    </section>
  </aside>
</div>
