<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>">
<%= @user.name %> さんとのメッセージ</h1>

  <div class="message" style="width: 100%; border: 1.5px solid #BB0000;
                              padding:18px; margin:0 0 10px 0; border-radius: 10px;">
    <% @chats.each do |chat| %>
      <% if chat.user_id == current_user.id %>
        <p style="width:100%; text-align: right; color:#888888;"><%= current_user.name %></p>
        <div class="mychat-box">
          <p style="width:90%; text-align: right; color:#888888;"><%= chat.message %></p>
        </div>
      <% else %>
        <p style="width:100%; text-align: left;"><%= link_to @user.name, chat.user %></p>
        <div class="yourchat-box">
          <p style="width:90%; text-align: left; margin-left:10%;"><%= chat.message %></p>
        </div>
      <% end %>
    <% end %>
  </div>

<div class="errors">
  <!--%= render "shared/chat_error", obj: @chat %-->
</div>

<%= form_with model: @chat, data: {remote: true} do |f| %>
  <div style="display: flex; align-items: center;">
    <%= f.text_field :message, placeholder: "メッセージを入力", style: "width: 100%; border-radius: 6px;" %>
    <%= f.hidden_field :room_id %>
    <%= f.submit "送信", style: "margin-left: 5px; width: 70px; color:white; background-color:#337ab7; border-radius: 8px;" %>
  </div>
<% end %>
